/*
FILE :style.css
DATE: 2022-06-22
*/

* {
    box-sizing: border-box;

}

h1 {
    font-size: 2rem;
    margin: 1rem 
    
}

header {   
 
 background-color: lightblue;
 text-align: center;
 
}

h2, h3 {
    font-weight: bold;
}

section {
    border: 15px solid black;
    margin: auto;
    width: 80%;
    position: static
    padding: 70px 0;

}



body{
    background-color: lavender;
    margin: 0 auto;
}
